#regresar{
    float: right;
    margin-right: 1%;
    background-color: black;
    color: white;
    border-color: black;
}
#regresar:hover{
    background-color: grey;
    color: white;
    border-color: grey;
}
#titulo{
    color: grey;
    size: 250px;
}
#cuadro{
    background-color: #dddddd;
}
#img{
    height: 250px;
    width: 250px;
    position: relative;
}