
<div class="container" id="cuadro">
    <div class="row">
    <div class="col-md-12">
        <h2 class="text-center mb-5">Preguntas frecuentes</h2>
    </div>
    <div class="col-md-6">
        <h4>¿En qué se diferencia su aplicación de otras en el mercado?</h4>
        <p>Nuestra aplicación se enfoca en la mascota como usuario principal. Nos centramos en crear una comunidad de dueños de mascotas sociables que compartan intereses similares en cuanto a sus animales.</p>
    </div>
    <div class="col-md-6">
        <h4>¿Cómo funciona el registro de los usuarios veterinarios?</h4>
        <p>Los veterinarios podrán registrarse en nuestro servicio web exclusivo para ellos, donde podrán gestionar los perfiles de las mascotas que atienden y recibir notificaciones de los dueños de las mascotas.</p>
    </div>
    <div class="col-md-6">
        <h4>¿Qué tipo de relaciones pueden establecer los dueños de mascotas en la aplicación?</h4>
        <p>Los dueños de mascotas pueden establecer relaciones con otros dueños que compartan intereses similares en cuanto a sus mascotas, como pasear juntos o incluso realizar actividades en grupo.</p>
    </div>
    <div class="col-md-6">
        <h4>¿Qué tipos de mascotas son compatibles con su aplicación?</h4>
        <p>Aceptamos todo tipo de mascotas, desde perros y gatos hasta pájaros y roedores. Si son animales domesticos, serán aceptados dentro de la aplicación</p>
    </div>
    <div class="col-md-6">
        <h4>¿Cómo se garantiza la seguridad de las mascotas registradas?</h4>
        <p>Tomamos muy en serio la seguridad de las mascotas registradas en nuestra aplicación. Contamos con un proceso de verificación y validación de los dueños de las mascotas, así como un sistema de revisión de perfiles y reporte de comportamientos inapropiados.</p>
    </div>
    <div class="col-md-6">
        <h4>¿Cómo puedo contactar al equipo de soporte técnico de la aplicación?</h4>
        <p>Puede contactarnos a través de nuestro correo electrónico de soporte técnico: 5porfavor@gracias.com</p>
    </div>
    </div>
</div>
