<div id="menuimg">
  <div class="container-fluid" >
    <div class="row">
      <div class="col-md-6 no-padding" id="img1">
        <img class="img-fluid" src="./assets/main.jpg" alt="imagen 1">
      </div>
      <div class="col-md-6 text-center no-padding align-content-center" id="cuadrocentro">
        <div class="d-flex align-items-center justify-content-center flex-column">
          <h1>PawPrints</h1>
          <p>La app para mascotas</p>
          <button class="btn btn-outline-success my-2 my-sm-0 mr-sm-2" type="submit" id="ir" routerLink="reg">Registrate ahora</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6" id="filler">
        <div>
          <h1>¿quienes somos?</h1>
          <p id="quienes-somos"> PawPrints es una aplicación diseñada para el cuidado y el bienestar de tu mascota. Nuestros usuarios se registran como mascotas y pueden establecer nuevas relaciones con personas cercanas que compartan sus gustos en animales. Lo que nos diferencia de otras aplicaciones similares es nuestra visión única de centrarnos en la mascota como nuestro principal usuario. En otras palabras, somos una nueva red social para animales con dueños sociables.
            Además de nuestra aplicación móvil, también ofrecemos un servicio web para veterinarias, donde pueden registrarse y tener acceso a un espacio aparte. De esta manera, pueden brindar un mejor servicio a sus clientes.
            En PawPrints, estamos comprometidos con el cuidado y el bienestar de tu mascota. Creemos que nuestra aplicación puede ser una herramienta útil para fomentar las relaciones entre los dueños de mascotas y ayudar a crear comunidades más saludables y felices para los animales. ¡Únete a nosotros en esta nueva aventura!</p>
          <h1 id="titulo" >¿Más preguntas sobre nosotros?</h1>
          <p class="typed">visita nuestro <a id="faqlink" routerLink="faq">FAQ</a> para solucionar tus dudas</p>
        </div> 
      </div>
      <div class="col-md-6 no-padding" id="img2">
        <img class="img-fluid" src="./assets/imagen2.jpg" alt="imagen 1">
      </div>
    </div>
  </div> 
</div>
